.contact {
    background-image: url(/assets/image/Background_Contacts.svg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    header {
        text-align: center;
    }

    header > h4,
    header > h2,
    header > p {
        margin: 15px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    ul > li {
        list-style: none;
        height: 68px;
        width: 400px;
        background-color: var(--gray-300);
        text-align: center;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
    }

    ul > li > a{
        text-decoration: none;  

    }
}