@import url(global.css);
@import url(intro.css);
@import url(projects.css);
@import url(services.css);
@import url(contact.css);


body {
    overflow: auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}